
/* .item{
	color: black;
	background-color: none;
	font-size:20px;
} */
.social-media ul{
	display: inline-block ;
	position: absolute;
	top: 50%;
	left: 92%;
	transform: translate(-50%,-50%);
}


.social-media ul li {
	list-style: none ;
  margin:10%;
}

 .social-media ul li a {
	 width: 55px;
	 height: 55px;
	 background-color: #FFFFFF;
	 text-align: center;
	 font-size: 40px;
	 line-height: 1.3;
     margin: 10% ;
	 display: block;
	 border-radius: 50%;
	 position: relative;
	 overflow: hidden;
	 border: solid 3px #ffffff;
	 z-index: 2;
}
 .fa-facebook li{
   background-color: pink;
 }

.social-media ul li a .fa {
	position: relative;
	color: #262626; 				/*  لون الايقونة الاساسى */
	transition: .5s;
	z-index: 3;
}

.social-media ul li a:hover .fa {
	color: #FFFFFF; 				/* لون الايقونة بعد الهوفر */
	transform: rotateY(360deg);
}


.social-media ul li a:before {
	content: '';
	position: absolute;
	top: 100% ;
	left: 0 ;
	width: 100%;
	height: 100%;
	background-color: #FF0000;
	transition: .5s;
	z-index:1 ;
}

.social-media ul li a:hover:before {
	top: 0 ;
}

.social-media ul li:nth-child(1) a {
    background-color: rgb(91, 175, 253);
}
.social-media ul li:nth-child(2) a {
    background-color: #99d5f8e7;
}
.social-media ul li:nth-child(3) a {
    background-color: rgb(252, 101, 101);
}
.social-media ul li:nth-child(4) a {
    background-color: #FF80B0;
}

.social-media ul li:nth-child(1) a:before {
	background-color:#3b5999 ;
}

.social-media ul li:nth-child(2) a:before {
	background-color:#55acee ;
}

.social-media ul li:nth-child(3) a:before {
	background-color:#cd201f ;
}
.social-media ul li:nth-child(4) a:before {
	background-color:#e4405f ; }


@media screen and (max-width: 991px)
{
  .social-media ul {
    position: absolute;
    top: 70%;
    left: 90%;
}

  .social-media ul li a .fa {
      position: relative;
      top: -10%;
      color: #262626;
      transition: .5s;
      z-index: 3;
  }
  .social-media ul li a {
      width: 50px;
      height: 50px;
      text-align: center;
      /* vertical-align: text-bottom; */
      font-size: 30px;
      margin: 20%;
      line-height: 2;
  }
}

@media screen and (max-width: 700px) {

    .social-media ul{
    	position: absolute;
      top: 80%;
left: 90%;

    }

     .social-media ul li a {
    	 width: 30px;
    	 height: 30px;
    	 text-align: center;
    	 font-size: 20px;
    	 line-height: 30px;
         margin: 10% ;

    }
}

@media screen and (max-width: 500px){

  .social-media ul {
  position: absolute;
  top: 85%;
  left: 85%;
}

     .social-media ul li a {
    	 width: 30px;
    	 height: 30px;
    	 text-align: center;
    	 font-size: 20px;
    	 line-height: 30px;
         margin: 10% ;

    }
}

@media screen and (max-width: 400px){

    .social-media ul{
    	position: absolute;
    	top: 80%;
    	left: 85%;

    }

     .social-media ul li a {
    	 width: 30px;
    	 height: 30px;

    	 text-align: center;
    	 font-size: 20px;
    	 line-height: 30px;
         margin: 10% ;

    }
}

@media screen and (max-width: 340px){

    .social-media ul{
    	position: absolute;
    	top: 80%;
    	left: 85%;
    }

     .social-media ul li a {
    	 width: 30px;
    	 height: 30px;

    	 text-align: center;
    	 font-size: 20px;
    	 line-height: 30px;
         margin: 10% ;


    }
}
