@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Scope+One|Trocchi");

/* Box Model */
h2 {
    color: #fff6a9;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 90px;
    margin-bottom: 30px;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    margin: 20px auto 0;
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    position: relative;
    z-index: -1 !important;
}
p {
    margin: 0 0 2em 0;
}

h3{
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 1em 0;
}

h3 a{
    
    text-decoration: none;
}


h3 {
    font-size: 1.75em;
}

@media screen and (max-width: 736px) {

    h3 {
        font-size: 1.5em;
    }

}

@media screen and (max-width: 480px) {

    h3 {
        font-size: 1.25em;
    }

}


h3{
    color: #000;
}

/* Flex */

.flex {
    display: -ms-flexbox;
    -ms-flex-pack: justify;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
}

.flex.flex-2{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    flex-direction: row; 
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: space-around;
}

/* Wrapper */

.wrapper {
    padding: 6em 0 4em 0;
    position: relative;
}

.wrapper .inner {
    margin: 0 auto;
    width: 80em;
    position: relative;
    z-index: 99;
}

.wrapper.style2 {
    height: 100vh;
    width: 100%;
    /*background-image: linear-gradient(120deg, #3e32a8, #e310c7);*/
    /*background-color: #fce043;
    background-image: linear-gradient(315deg, #fce043 0%, #fb7ba2 74%);*/
    /* background-color: #1a2228; */
    /* background-image: linear-gradient(90deg, #1a2228 0%, #000000 74%); */
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e); 
    /*background-color: #1a2228;*/
    /* background-color: #000; */
    color: #fff;
}
.wrapper.style2 p{
    font-weight: 600;
}

#main_about{
    /*background-image: linear-gradient(120deg, #3e32a8, #e310c7);*/
    /*background-color: #fce043;
    background-image: linear-gradient(315deg, #fce043 0%, #fb7ba2 74%);*/
    /* background-color: #1a2228; */
    /* background-image: linear-gradient(90deg, #1a2228 0%, #000000 74%); */
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e); 
    /*background-color: #000;*/
    /*background-color: #1a2228; */

} 

    
.wrapper.style2 h3{
    color: #fff;
}


@media screen and (max-width: 1280px) {

    .wrapper > .inner {
        width: 60em;
    }

}

@media screen and (max-width: 980px) {

    .wrapper > .inner {
        width: 90%;
    }

}

@media screen and (max-width: 736px) {

    .wrapper {
        padding: 3em 0 1em 0;
    }

}


.slide__text {
    z-index: 1;
    display: inline-block;
    text-align: left;
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.slide__text:before {
    z-index: 0;
    content: "CodeBenders!";
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: black;
    /* background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);  */
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: rotateX(-85deg);
    transform: rotateX(-85deg);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    will-change: transform;
}

.slide__text:hover:before {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
}

.col {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.col-left {
    -webkit-box-ordinal-group:-1;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
}

.col-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-image {
    background-size: cover;
    background-position:center center;
    -webkit-filter: drop-shadow(5px 5px 5px #000);
    filter: drop-shadow(5px 5px 5px #000);
}

@media (max-width: 780px) {
    .grid-flex {
        display: -webkit-flex;
        -webkit-flex-direction: column;
        flex-direction: column; 
    }
    .col {
        order:vertical;
    }
    .col-image{
        display: none;
    }
    .col-text div p {
        padding: 1em;
    }
}

/********SVG********/

.custom-shape-divider-bottom-1614888141 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1614888141 svg {
    position: relative;
    display: block;
    width: calc(134% + 1.3px);
    height: 269px;
}

.custom-shape-divider-bottom-1614888141 .shape-fill {
    fill: #fff;
}      

.shape-fill{
    background-image: linear-gradient(to right, #141e30, #243b55);
}